<div *ngIf="pokemon$ | async as pokemon" class="battle-container">
  <div id="circle">
    <img src="/assets/pokemon/{{pokemon.id}}.gif">
    <div id="success-circle" [style.width.%]="successCircleSize" [style.height.%]="successCircleSize">
    </div>
    <div id="inner-circle" [style.width.%]="count" [style.height.%]="count"></div>
    <button id="pokeball" (click)="throw(pokemon.id, pokemon.name)" [@throwing]="throwing"></button>
  </div>
  
  <ng-container>
    <p>Wild {{pokemon.name | uppercase}} appeared!</p>
    <p>
      <button class="default" (click)="run()">RUN</button>
    </p>
  </ng-container>
  <ng-container *ngIf="counter$(pokemon.captureRate) | async as counter"></ng-container>
</div>
