#map {
  width: 160px;
  height: 160px;
  background: #000 url("/assets/map.png") no-repeat;
  background-position: 0 0;
  position: relative;

  #character {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    left: 64px;
    top: 64px;
  }
}
