#map {
  width: var(--SCREEN-SIZE);
  padding-top: 100%;
  background: #000 url("/assets/map.png") no-repeat;
  background-position: 0 0;
  background-size: calc(var(--SCREEN-SIZE) * 3.4) calc(var(--SCREEN-SIZE) * 4.8);
  transition: background-position 0.3s;
  position: relative;
  box-shadow: inset 3px 3px rgb(0 0 0 / 15%);

  #character {
    position: absolute;
    width: 10%;
    height: 10%;
    background: url("/assets/user.png");
    background-position: 0 0;
    background-size: calc(var(--SCREEN-SIZE) * 0.4);
    left: 40%;
    top: 40%;

    &.UP {
      background-position: 0 calc(var(--SCREEN-SIZE) * -0.3);
      &.moving {
        animation: top 0.85s steps(4, start) infinite;
      }
    }
    &.DOWN {
      background-position: 0 0;
      &.moving {
        animation: bottom 0.85s steps(4, start) infinite;
      }
    }
    &.LEFT {
      background-position: 0 calc(var(--SCREEN-SIZE) * -0.1);
      &.moving {
        animation: left 0.85s steps(4, start) infinite;
      }
    }
    &.RIGHT {
      background-position: 0 calc(var(--SCREEN-SIZE) * -0.2);
      &.moving {
        animation: right 0.85s steps(4, start) infinite;
      }
    }
  }
}

@keyframes top {
  from {
    background-position: 0 calc(var(--SCREEN-SIZE) * -0.3);
  }
  to {
    background-position: calc(var(--SCREEN-SIZE) * -0.4)
      calc(var(--SCREEN-SIZE) * -0.3);
  }
}
@keyframes bottom {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(var(--SCREEN-SIZE) * -0.4) 0;
  }
}
@keyframes left {
  from {
    background-position: 0 calc(var(--SCREEN-SIZE) * -0.1);
  }
  to {
    background-position: calc(var(--SCREEN-SIZE) * -0.4)
      calc(var(--SCREEN-SIZE) * -0.1);
  }
}
@keyframes right {
  from {
    background-position: 0 calc(var(--SCREEN-SIZE) * -0.2);
  }
  to {
    background-position: calc(var(--SCREEN-SIZE) * -0.4)
      calc(var(--SCREEN-SIZE) * -0.2);
  }
}
