#gameboy-wrapper {
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  #gameboy {
    background: #eee;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgb(0 0 0 / 10%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((var(--HEIGHT) * 0.625));
    height: var(--HEIGHT);

    #screen-wrapper {
      background-color: #777;
      border-radius: 13px 13px 50px 13px;
      display: flex;
      justify-content: center;
      margin: 3em 0 4em;
      width: 85%;

      #screen {
        margin: 1.8em 0;
      }
    }

    #controls {
      width: 85%;
      --SIZE: calc(var(--SCREEN-SIZE) * 0.15);

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #arrows {
          display: grid;
          grid-template-columns: repeat(3, var(--SIZE));
          position: relative;
          margin-left: 0.8em;

          &:before {
            content: "";
            width: calc(var(--SIZE) * 3.8);
            height: calc(var(--SIZE) * 3.8);
            background-color: #dfdfdf;
            position: absolute;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          #arrow-center {
            width: var(--SIZE);
            height: var(--SIZE);
            background-color: #444;
            position: relative;

            &:before {
              content: "";
              width: var(--SIZE);
              height: var(--SIZE);
              background-color: #353535;
              position: absolute;
              border-radius: 100%;
            }
          }

          .arrow {
            width: var(--SIZE);
            height: var(--SIZE);
            background-color: #444;
            margin: 0;

            &:hover {
              cursor: pointer;
            }

            &#up {
              border-radius: 5px 5px 0 0;

              &:before {
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                right: 0;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
                margin: 0 auto;
              }
            }
            &#down {
              border-radius: 0 0 5px 5px;

              &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #fff;
                margin: 0 auto;
              }
            }
            &#left {
              border-radius: 5px 0 0 5px;

              &:before {
                content: "";
                position: absolute;
                left: -10px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid #fff;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            &#right {
              border-radius: 0 5px 5px 0;

              &:before {
                content: "";
                position: absolute;
                right: -10px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 7px solid #fff;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }

        #ab {
          background-color: #dfdfdf;
          border-radius: 2em;
          padding: 0.5em;
          transform: rotate(-25deg);

          button {
            background: #a93671;
            border-radius: 100%;
            height: calc(var(--SIZE) * 1.5);
            width: calc(var(--SIZE) * 1.5);

            &#b {
              margin-left: 2em;
            }
          }
        }
      }

      #startselect {
        margin-top: 2em;
      }
    }
  }
}
