/* You can add global styles to this file, and also import other style files */
@import "../node_modules/pokemon-font/css/pokemon-font.css";

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;

  @media (min-width: 1025px) {
    --HEIGHT: 70vh;
  }
  @media (max-width: 1024px) and (min-aspect-ratio: 5/8) {
    --HEIGHT: calc(100vh - 30px);
  }
  @media (max-width: 1024px) and (max-aspect-ratio: 5/8) {
    --HEIGHT: calc((100vw - 30px) * 1.6);
  }

  --SCREEN-SIZE: calc((var(--HEIGHT) * 0.625) * 0.55);
}

body,
button {
  font-family: "pokemon-font", monospace;
}

button {
  background: none;
  border: none;
}

button {
  background: none;
  border: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.default {
    margin-left: 20px;

    &:hover {
      &::before {
        content: "\25B7";
        position: absolute;
        left: -10px;
        top: -1px;
      }
    }

    &.selected {
      &::before {
        content: "\25B6";
        position: absolute;
        left: -10px;
        top: -1px;
      }
    }
  }
}

.cdk-overlay-container {
  position: absolute;
  top: calc(var(--SCREEN-SIZE) - 10px);
  width: 100%;
}
.mat-snack-bar-container {
  margin: 0 auto !important;
}
.mat-simple-snackbar {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 4.5px #000,
    0 2px 0 3.5px #000, inset 0 1.5px 0 0 #000;
  box-sizing: border-box;
  padding: 4px;
  width: calc(var(--SCREEN-SIZE) - 16px);
  margin: 0 auto;
  font-size: 0.6em;
  line-height: 0.8em;
}
