/* You can add global styles to this file, and also import other style files */
@import "../node_modules/pokemon-font/css/pokemon-font.css";

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}

body,
button {
  font-family: "pokemon-font", monospace;
}

button {
  background: none;
  border: none;
}

button {
  background: none;
  border: none;
  margin-left: 20px;
  position: relative;
  &:hover {
    cursor: pointer;
    &::before {
      content: "\25B7";
      position: absolute;
      left: -10px;
      top: -1px;
    }
  }

  &.selected {
    &::before {
      content: "\25B6";
      position: absolute;
      left: -10px;
      top: -1px;
    }
  }
}

.mat-simple-snackbar {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #000, 0 0 0 6px #fff, 0 0 0 9px #000, 0 4px 0 7px #000,
    inset 0 3px 0 0 #000;
  padding: 10px 20px;
}
